<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Typename')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-typename" data-rule="required" class="form-control" autocomplete="off" name="row[typename]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Typeimage')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-typeimage" data-rule="required" class="form-control" size="50" name="row[typeimage]" type="text">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="faupload-typeimage" class="btn btn-danger faupload" data-input-id="c-typeimage" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-typeimage"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-typeimage" class="btn btn-primary fachoose" data-input-id="c-typeimage" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-typeimage"></span>
            </div>
            <ul class="row list-inline faupload-preview" id="p-typeimage"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Typeselectedimage')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-typeselectedimage" data-rule="required" class="form-control" size="50" name="row[typeselectedimage]" type="text">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="faupload-typeselectedimage" class="btn btn-danger faupload" data-input-id="c-typeselectedimage" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-typeselectedimage"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-typeselectedimage" class="btn btn-primary fachoose" data-input-id="c-typeselectedimage" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-typeselectedimage"></span>
            </div>
            <ul class="row list-inline faupload-preview" id="p-typeselectedimage"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Spotimage')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-spotimage" data-rule="required" class="form-control" size="50" name="row[spotimage]" type="text">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="faupload-spotimage" class="btn btn-danger faupload" data-input-id="c-spotimage" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-spotimage"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-spotimage" class="btn btn-primary fachoose" data-input-id="c-spotimage" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-spotimage"></span>
            </div>
            <ul class="row list-inline faupload-preview" id="p-spotimage"></ul>
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>