<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Spotare_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-spotare_id" data-rule="required" disabled data-source="spotmanage/spotare/selectpage" data-field="areaname" class="form-control selectpage" name="row[spotare_id]" type="text" value="{$row.spotare_id|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Routeame')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-routeame" data-rule="required" class="form-control" name="row[routeame]" type="text" value="{$row.routeame|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Linelength')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-linelength" data-rule="required" class="form-control" name="row[linelength]" type="text" value="{$row.linelength|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Burncalories')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-burncalories" data-rule="required" class="form-control" name="row[burncalories]" type="text" value="{$row.burncalories|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Nearbyspot')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-nearbyspot" data-rule="required" class="form-control" name="row[nearbyspot]" type="text" value="{$row.nearbyspot|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Allspot')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-allspot" data-rule="required" class="form-control" name="row[allspot]" type="text" value="{$row.allspot|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Expecthours')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-expecthours" data-rule="required" class="form-control" name="row[expecthours]" type="text" value="{$row.expecthours|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Navigationjson')}:</label>
        <div class="col-xs-12 col-sm-8">

            <dl class="fieldlist" data-name="row[navigationjson]">
                <dd>
                    <ins>{:__('Navigationjson key')}</ins>
                    <ins>{:__('Navigationjson value')}</ins>
                </dd>
                <dd>
                    <a href="javascript:;" class="btn btn-sm btn-success btn-append"><i class="fa fa-plus"></i> {:__('Append')}</a>
                    <a href="javascript:;" class="btn btn-danger btn-import faupload" title="导入" id="btn-import-file" data-url="ajax/upload" data-mimetype="xlsx" data-multiple="false"><i class="fa fa-upload"></i>导入</a>
                </dd>
                <textarea name="row[navigationjson]" class="form-control hide" cols="30" rows="5">{$row.navigationjson|htmlentities}</textarea>
            </dl>


        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>